ADMIN_TOKEN=SET_IN_RAILWAY_ONLY
SIMULATION_ONLY=true

DEXSCREENER_ENABLED=true
DEX_SCAN_SECONDS=300
DEX_MIN_LIQUIDITY_USD=10000
DEX_MIN_VOLUME_H24_USD=25000
DEX_MIN_TXNS_H24=100

SOLANA_DISCOVERY_ENABLED=true
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_DISCOVERY_SECONDS=180
SOLANA_MAX_TOKENS_PER_SCAN=8
SOLANA_SIGNATURES_PER_TOKEN=20
SOLANA_MAX_TX_FETCHES_PER_SCAN=40
MIN_REPEAT_TOKENS_FOR_PATTERN=3

REDDIT_ENABLED=true
REDDIT_QUERIES=solana memecoin|solana meme coin
REDDIT_SCAN_SECONDS=900

X_ENABLED=false
X_SEARCH_QUERY=(solana OR memecoin OR meme coin) -is:retweet lang:en

TELEGRAM_ENABLED=false
TELEGRAM_CHANNELS=
